{% extends "allauth/layouts/base.html" %}
{% comment %}Email + password sign-in, in the site's design (the themed allauth base supplies the
card + form styling). Social sign-in lives on /signin.{% endcomment %}
{% block head_title %}Sign in{% endblock %}
{% block content %}
  <h1>Sign in</h1>
  <p>New to hirees.me? <a href="{% url 'account_signup' %}">Create an account</a>.</p>
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">{% endif %}
    <button type="submit">Sign in</button>
  </form>
  <p class="foot"><a href="{% url 'account_reset_password' %}">Forgot your password?</a></p>
{% endblock %}
