{% extends "allauth/layouts/base.html" %}
{% comment %}Change password while signed in. Posts to account_change_password.{% endcomment %}
{% block head_title %}Change password{% endblock %}
{% block content %}
  <h1>Change password</h1>
  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
  </form>
  <p class="foot"><a href="{% url 'account_reset_password' %}">Forgot your password?</a></p>
{% endblock %}
